<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuite name="RunroomSortableBehaviorBundle">
        <directory>tests</directory>
    </testsuite>

    <extensions>
        <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
    </extensions>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <php>
        <ini name="precision" value="8"/>
        <server name="APP_ENV" value="test" force="true" />
        <server name="APP_DEBUG" value="false" />
        <server name="SHELL_VERBOSITY" value="-1"/>
        <env name="KERNEL_CLASS" value="Runroom\SortableBehaviorBundle\Tests\App\Kernel"/>
    </php>
</phpunit>
