<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <testsuite name="RunroomSortableBehaviorBundle">
        <directory>tests</directory>
    </testsuite>

    <listeners>
       <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="precision" value="8"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0" />
        <env name="KERNEL_CLASS" value="Runroom\SortableBehaviorBundle\Tests\App\Kernel" />
    </php>
</phpunit>
